p{
  font-family: Arial;
}

.Whole-block{
  margin: auto;
  width: 500px;
}

.View-in-Browser{
  color: rgb(209, 204, 204);
  font-size: 8px;
  text-decoration: underline;
  text-align: right;
  margin-bottom: 2px;
  margin-top: 50px;
}

.Block1{
  background-color: rgb(37, 184, 37);
  border: 1px solid black;
}

.Flower-image{
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Page-title{
  text-align: center;
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
  margin-top: 0px;
}

.Block2{
  border: 1px solid black;
  padding-left: 45px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.Title-Block{
  font-size: 25px;
  font-weight: bolder;
}

.Text-block{
  font-size: 15px;
}

.Learn-more{
  font-size: 15px;
  color: orange;
  text-decoration: underline;
}

.Block3{
  width: 100%;
  font-size: 0px;
}

.Block3p1{
  display: inline-block;
  border: 1px solid black;
  width: 50%;
  box-sizing: border-box;
}

.Image-block3{
  margin-top: 30px;
  margin-left: 50px;
}

.Title-block3{
  font-size: 25px;
  font-weight: bolder;
  margin-left: 50px;
  margin-top: 0px;
}

.Text-block3{
  font-size: 15px;
  width: 170px;
  margin-left: 50px;
}

.Learn-more-block3{
  margin-left: 50px;
  font-size: 15px;
  color: orange;
  text-decoration: underline;
}


.Block4{
  border-color: rgb(134, 133, 133);
  border-style: double;
  background-color: rgb(233, 241, 243);
}

.Title-block4{
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
}

.Text-block4{
  font-size: 15px;
  text-align: center;
}

.Ask{
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  color: grey;
}

.Block5{
  background-color: rgb(245, 244, 242);
  border: 1px solid black;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.SEFactory{
  color: rgb(148, 181, 207);
}

.Unsub{
  color: rgb(148, 181, 207);
  font-size: 8px;
  text-decoration: underline;
}